<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="offset-md-4 col-md-4 top-login"></div>
            <div class="offset-md-4 col-md-4 top-login">
                <div>
                    <h4>
                        Colegio Hogwarts de Magia y Hechicería
                    </h4>
                </div>
                <div>
                    <label>Seleccione una casa de Hogwart</label>
                    <select [(ngModel)]="casa" class="form-control" (change)="consumirAPI()">
                        <option value="">Seleccione</option>
                        <option value="Ravenclaw">Ravenclaw </option>
                        <option value="Hufflepuff">Hufflepuff</option>
                        <option value="Gryffindor">Gryffindor</option>
                        <option value="Slytherin">Slytherin</option>
                    </select>
                </div>
            </div>
            <div class="offset-md-4 col-md-4 top-login"></div>
        </div>
        <div class="col-md-12" *ngIf="listaPersonajes?.length>0">
            <div class=" col-md-12 top-login">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>

                            <th scope="col">Image </th>
                            <th scope="col">Name</th>
                            <th scope="col">Patronus</th>
                            <th scope="col">Age </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listaPersonajes">

                            <td><img [src]="item.image" class="rounded-circle" alt="Eniun"
                                    style="width:60px;height:60px;"></td>
                            <td>{{item.name}}</td>
                            <td>{{item.patronus}}</td>
                            <td>{{item.Age}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>