<div class="justify-content-center">
    <button type="button" class="btn btn-outline-dark" [routerLink]="['/casas']">Personajes</button>
    <button type="button" class="btn btn-outline-dark" [routerLink]="['/estudiantes']">Estudiantes</button>
    <button type="button" class="btn btn-outline-dark" [routerLink]="['/profesores']">Profesores</button>
</div>

<!-- <div class="d-flex"> -->
    <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-outline-dark" [routerLink]="['/casas']">Personajes</button>
        <button type="button" class="btn btn-outline-dark" [routerLink]="['/estudiantes']">Estudiantes</button>
        <button type="button" class="btn btn-outline-dark" [routerLink]="['/profesores']">Profesores</button>
    </div>
<!-- </div> -->