body {
	margin: 0;
	padding: 0;
	color: #8e7555;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 1.6em; 
	letter-spacing: 1px;
	background-color: #000000;
}

a, a:link, a:visited { color: #770726; font-weight: normal; text-decoration: none }
a:hover { color: #660; text-decoration: underline; }

a.more { display: block; color: #770726; text-align: center; text-decoration: underline }
a.more span { font-size: 14px; letter-spacing: -3px; }
a.more:hover { color: #660; text-decoration: none }


p { margin: 0 0 10px 0; padding: 0; }
img { border: none;  padding: 5px 0} 

em { color: #c63a03; }

h1, h2, h3, h4, h5, h6 { color: #62260e; font-weight: normal; }
h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 34px; margin: 0 0 25px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 20px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }

.h40 { height: 40px }

#templatemo_wrapper {
	position: relative;
	width: 966px;
	margin: 0 auto;
}
.bg_top { position: absolute; top: 0; left: -120px; width: 1200px; height: 570px; background: url(src/assets/images/templatemo_bg_top.png) no-repeat; z-index: -1000 }

.bg_bottom { position: absolute; bottom: 0; left: -120px; width: 1200px; height: 270px; background: url(src/assets/images/templatemo_bg_bottom.png) no-repeat; z-index: -1200 }

/* menu */

#templatemo_menu {
	float: right;
	width: 966px;
	height: 75px;
	margin-top: 40px;
	margin-bottom: 20px;
	background: url(src/assets/images/templatemo_menu.png) no-repeat
}

#templatemo_menu ul {
	margin: 0;
	padding: 0 40px;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
	width: 164px;
	height: 75px;
	background: url(src/assets/images/templatemo_menu_divider.png) center right no-repeat
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	width: 160px;
	height: 75px;
	line-height: 75px;
	padding-right: 4px;
	font-size: 16px;
	font-style: italic;
	color: #62260e;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	outline: none;
	border: none;
	
}


#templatemo_menu .last { background: none }

#templatemo_main {
	width: 900px;
	padding: 33px 33px 0;
	background: url(src/assets/images/templatemo_main.png) repeat-y
}

#templatemo_main_bottom {
	width: 966px;
	height: 143px;
	background: url(src/assets/images/templatemo_main_bottom.png) no-repeat
}

#content {
	float: right;
	width: 580px;
}

.cbox_fw {
	clear: both;
	padding-bottom: 20px;
	margin-bottom: 40px;
	background: url(src/assets/images/templatemo_hr2.png) no-repeat bottom center
}

#nne {
	margin-bottom: 40px;
}
#nne h3 { padding-bottom: 20px; border-bottom: 1px solid #5f2712 }
